In [2]:
# Cell 1: Setup imports & paths
import sys
from pathlib import Path
import pandas as pd

# Ensure your src folder is in path
proj = Path().resolve()
src = proj / "src"
if src.exists():
    sys.path.append(str(src))

from wrds_extract import (
    pull_trace_treasury_trades,
    pull_crsp_treasury_quotes,
    pull_fisd_treasury_auction
)

DATA_DIR = proj / "data"
DATA_DIR.mkdir(exist_ok=True)

In [3]:

# Cell 2: Pull TRACE (Treasury) trades
print("Pulling TRACE Treasury trades (sample)...")
df_trace = pull_trace_treasury_trades(start_date="2020-01-01", end_date="2020-12-31", limit=100000)
print("TRACE sample shape:", df_trace.shape)
display(df_trace.head())

Pulling TRACE Treasury trades (sample)...
Loading library list...
Done
TRACE sample shape: (100000, 42)

,cusip_id,bond_sym_id,company_symbol,trd_exctn_dt,trd_exctn_tm,trd_rpt_dt,trd_rpt_tm,msg_seq_nb,trc_st,scrty_type_cd,...,sub_prdct,stlmnt_dt,trd_mod_3,trd_mod_4,rptg_party_type,lckd_in_ind,ats_indicator,pr_trd_dt,first_trade_ctrl_date,first_trade_ctrl_num
0,00036AAA3,AARP5017653,AARP,2020-07-09,11:44:38,2020-07-21,18:03:39,0102478,T,None,...,CORP,2020-07-16,U,None,D,None,None,None,2020-07-21,0102478
1,00036AAA3,AARP5017653,AARP,2020-07-09,12:07:10,2020-07-21,18:03:38,0102477,T,None,...,CORP,2020-07-16,U,None,D,None,None,None,2020-07-21,0102477
2,00037BAB8,ABB3852125,ABB,2020-01-02,10:35:00,2020-01-02,10:35:08,0015431,T,None,...,CORP,2020-01-06,None,None,D,None,None,None,2020-01-02,0015431
3,00037BAB8,ABB3852125,ABB,2020-01-02,13:53:31,2020-01-02,13:53:38,0054459,T,None,...,CORP,2020-01-06,None,None,D,None,Y,None,2020-01-02,0054459
4,00037BAB8,ABB3852125,ABB,2020-01-02,13:53:32,2020-01-02,13:53:33,0054407,T,None,...,CORP,2020-01-06,None,None,D,None,None,None,2020-01-02,0054407

In [4]:

# Optionally filter only Treasury (if TRACE includes corporate too)
if "scrty_type_cd" in df_trace.columns:
    df_trace = df_trace[df_trace["scrty_type_cd"].str.contains("UST|USTY|USTREAS", na=False)]
    print("Filtered to UST codes, new shape:", df_trace.shape)

Filtered to UST codes, new shape: (0, 42)

In [5]:

# Save to parquet / CSV
trace_path = DATA_DIR / "trace_treas_trace.parquet"
df_trace.to_parquet(trace_path, index=False)
print("Saved TRACE trades to:", trace_path)

Saved TRACE trades to: C:\Users\Owner\OneDrive\Desktop\TIPS_Treasury_HL\src\data\trace_treas_trace.parquet

In [6]:

# Cell 3: Pull CRSP Treasury quotes
print("Pulling CRSP Treasury quotes...")
df_crsp = pull_crsp_treasury_quotes(start_date="2000-01-01", end_date="2025-12-31")
print("CRSP quotes shape:", df_crsp.shape)
display(df_crsp.head())

Pulling CRSP Treasury quotes...
Loading library list...
Done
CRSP quotes shape: (162474, 29)

,kytreasnox,caldt,rdtreasno,rdtreasno_flg,rdcrspid,rdcrspid_flg,tdbid,tdask,tdnomprc,tdbidyld,...,tdavefwd4,tddurfwd4,tdbidhld1,tdaskhld1,tdavehld1,tddurhld1,tdbidhld4,tdaskhld4,tdavehld4,tddurhld4
0,2000064.0,2000-01-03,203102.0,A,20000106.400000,A,99.963271,99.963354,99.963313,0.000122,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000064.0,2000-01-04,203102.0,A,20000106.400000,A,99.971542,99.971597,99.971569,0.000142,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000064.0,2000-01-05,203102.0,A,20000106.400000,A,99.985299,99.985326,99.985312,0.000147,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000064.0,2000-01-06,203103.0,A,20000113.400000,A,99.893396,99.893590,99.893493,0.000152,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000064.0,2000-01-07,203103.0,A,20000113.400000,A,99.907542,99.907708,99.907625,0.000154,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:

crsp_path = DATA_DIR / "crsp_treasury_quotes.parquet"
df_crsp.to_parquet(crsp_path, index=False)
print("Saved CRSP Treasury quotes to:", crsp_path)

Saved CRSP Treasury quotes to: C:\Users\Owner\OneDrive\Desktop\TIPS_Treasury_HL\src\data\crsp_treasury_quotes.parquet

In [8]:

# Cell 4: Pull FISD Treasury auction / metadata
print("Pulling FISD Treasury auction metadata...")
df_fisd = pull_fisd_treasury_auction(start_date="2000-01-01", end_date="2025-12-31")
print("FISD auction data shape:", df_fisd.shape)
display(df_fisd.head())

Pulling FISD Treasury auction metadata...
Loading library list...
Done
FISD auction data shape: (9484, 32)

,auction_date,issue_id,strips,reopened,bad_end_date,total_bids_received,accepted_bids,accepted_competitive,accepted_non_competitive,other_bids,...,accepted_public_subtotal,tendered_soma,tendered_fima,accepted_soma,accepted_fima,tendered_new_cash,accepted_new_cash,tendered_total,accepted_total,bad_end_dat
0,2000-05-04,50513.0,Y,N,None,None,None,NaN,NaN,None,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,None
1,2000-10-25,62735.0,Y,Y,None,None,None,9046500.0,959502.0,None,...,10006002.0,3333333.0,1500000.0,3333333.0,1500000.0,NaN,NaN,31653935.0,14839335.0,None
2,2000-10-11,91472.0,Y,Y,None,None,None,4984400.0,15684.0,None,...,5000084.0,NaN,NaN,NaN,NaN,NaN,NaN,9922684.0,5000084.0,None
3,2000-01-24,92997.0,N,Y,None,None,None,5701303.0,1308807.0,None,...,7010110.0,4657815.0,497100.0,4657815.0,497100.0,NaN,NaN,28431775.0,12165025.0,None
4,2000-02-17,92997.0,N,Y,None,None,None,30003920.0,2000.0,None,...,30005920.0,NaN,NaN,NaN,NaN,NaN,NaN,56198420.0,30005920.0,None

In [9]:

fisd_path = DATA_DIR / "fisd_treasury_auctions.parquet"
df_fisd.to_parquet(fisd_path, index=False)
print("Saved FISD auctions to:", fisd_path)

Saved FISD auctions to: C:\Users\Owner\OneDrive\Desktop\TIPS_Treasury_HL\src\data\fisd_treasury_auctions.parquet

In [10]:

# Cell 5: Join / inspect merged structure (optional sanity check)
print("Merge cross-check: sample merge on CUSIP + date")
if ("cusip_id" in df_trace.columns) and ("cusip_id" in df_crsp.columns):
    merged = pd.merge(df_trace, df_crsp, left_on=["cusip_id","trd_exctn_dt"], right_on=["cusip_id","caldt"], how="inner")
    print("Merged sample shape:", merged.shape)
    display(merged.head())

Merge cross-check: sample merge on CUSIP + date